P8 - Ejercicio1.json
{
  "name": "P8 - Ejercicio1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "69c5f22b-fcf1-4919-84a9-ac9d6d6b8c69",
        "options": {
          "responseData": "201 Created "
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "19e7423a-dfa0-468d-9ecd-306b662e47d2",
      "name": "Webhook",
      "webhookId": "69c5f22b-fcf1-4919-84a9-ac9d6d6b8c69"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "done": false,
            "title": "={{ $json.body.title }}",
            "description": "={{ $json.body.description }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "done",
              "displayName": "done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "c7ca5c24-03de-46dd-a21e-99196cb69142",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "UgJQjAXrLmEkD4Uu",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "queue": "task_created",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        640,
        -112
      ],
      "id": "60120bbd-8711-451b-a6d3-935eee9b4e8b",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "rPRXP4tzObQglbYK",
          "name": "RabbitMQ account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4997634-ff05-4226-af5f-6c2029745109",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "c4f5158e-52e5-4bf6-8e1f-fbcb13c5596d",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "400 Bad Request"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        624,
        96
      ],
      "id": "d2aa6ece-6ae8-4efe-8973-a22d27a02e22",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6fc9441-e4fe-478c-8bb2-84dfb2fe3fb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26955b9708e0e3f79c37007c7002465c811725f37a30e8274bb7758f868a1256"
  },
  "id": "H5TZUKbrWjU749bb",
  "tags": []
}